{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> {{ heading_title }}</h3>
      </div>
      <div class="panel-body">
        <div class="container">
    <div class="row">
      <div class="text">
      
    </div>
    <meta charset = "UTF-8" />
    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">

      From Date:    <input type="date" name="fromdate" placeholder="dd-mm-YYYY" required/>
     To Date:    <input type="date" name="todate" placeholder="dd-mm-YYYY" required/>  
      <input type="hidden" name="mrctCode" value="{{mrctCode}}"/>          
         &nbsp; &nbsp; &nbsp;   <button id="btnSubmit" type="submit" class="btn btn-primary" name="submit" value="Submit" >Submit</button>
      </form>
      <br>
    <br>
      <p>{{message}}</p>
    </div>
    <br>
    <br>
      </div>
    </div>
  </div>
</div>

{{ footer }}